.carousel-control {
  //     width: 8%;
  &.left,
  &.right {
    background-image: none;
  }
  .fa {
    font-size: 35px;
  }
  .fa,
  .icon-prev,
  .icon-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -17px;
    margin-left: -9px;
  }
}
.carousel-inner > .item {
  transition: left 1200ms cubic-bezier(0.455, 0.03, 0.4, 0.955) 0s;
  -webkit-transition: left 1200ms cubic-bezier(0.455, 0.03, 0.4, 0.955) 0s;
}
