// Brand Colors
// -------------------------

$brand-primary: #4d90fc;
$brand-success: #60bf60;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #5bc0dd;

// Typography
// -------------------------

$headings-font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, sans-serif;

// Buttons
// -------------------------

$btn-primary-border: darken($brand-primary, 3.2%);
$btn-success-border: darken($brand-success, 3.2%);
$btn-warning-border: darken($brand-warning, 3.2%);
$btn-danger-border: darken($brand-danger, 3.2%);
$btn-info-border: darken($brand-info, 3.2%);

// Forms
// -------------------------

$input-border-radius: 0;
$input-border-focus: #2598f9;

// Form states and alerts
// -------------------------

$state-success-text: #569845;
$state-success-bg: #dbf5d3;
$state-success-border: #aed3a5;

$state-info-text: #3a87ad;
$state-info-bg: #d9edf7;
$state-info-border: #98cce7;

$state-warning-text: #bf9853;
$state-warning-bg: #fdf8e2;
$state-warning-border: #f2daab;

$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: #e0b1b8;

// Navbar
// -------------------------

$navbar-default-bg: rgba(255, 255, 255, 0.9);
$navbar-default-link-color: #252525;
$navbar-default-link-hover-color: #4da5f4;
$navbar-default-link-active-color: #4da5f4;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-color: #fafafa;
$navbar-default-brand-hover-color: #4da5f4;
